node-red-flows.json
[
    {
        "id": "f205bc0b4547a229",
        "type": "tab",
        "label": "Voting Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "096067469d8033b6",
        "type": "ui_button",
        "z": "f205bc0b4547a229",
        "name": "Vote for Ghaith",
        "group": "cea41dcf941cfdb1",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Ghaith",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Ghaith",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 520,
        "y": 220,
        "wires": [
            [
                "3c2a431c2d3529c2"
            ]
        ]
    },
    {
        "id": "f710236437bddfc9",
        "type": "ui_button",
        "z": "f205bc0b4547a229",
        "name": "Vote for Kamel",
        "group": "cea41dcf941cfdb1",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Kamel",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Kamel",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 520,
        "y": 260,
        "wires": [
            [
                "3c2a431c2d3529c2"
            ]
        ]
    },
    {
        "id": "c510a9b4e3c56566",
        "type": "ui_button",
        "z": "f205bc0b4547a229",
        "name": "Vote for Mohamed",
        "group": "cea41dcf941cfdb1",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Mohamed",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Mohamed",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 530,
        "y": 300,
        "wires": [
            [
                "3c2a431c2d3529c2"
            ]
        ]
    },
    {
        "id": "3c2a431c2d3529c2",
        "type": "function",
        "z": "f205bc0b4547a229",
        "name": "Prepare Vote Message",
        "func": "let voter = flow.get(\"voter\") || \"Anonymous\";\n\nreturn {\n    payload: JSON.stringify({\n        candidate: msg.payload,\n        voter: voter\n    }),\n    topic: \"voting/cast\"\n};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 260,
        "wires": [
            [
                "f93f08455ebd4421"
            ]
        ]
    },
    {
        "id": "f93f08455ebd4421",
        "type": "mqtt out",
        "z": "f205bc0b4547a229",
        "name": "Publish Vote",
        "topic": "voting/cast",
        "qos": "1",
        "retain": false,
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "94969e73dab35de3",
        "x": 990,
        "y": 260,
        "wires": []
    },
    {
        "id": "6e3cd81fd75b15bd",
        "type": "mqtt in",
        "z": "f205bc0b4547a229",
        "name": "Subscribe Results",
        "topic": "voting/results",
        "qos": "1",
        "datatype": "json",
        "broker": "94969e73dab35de3",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 530,
        "y": 380,
        "wires": [
            [
                "aa1f4c6b085d5b48"
            ]
        ]
    },
    {
        "id": "aa1f4c6b085d5b48",
        "type": "function",
        "z": "f205bc0b4547a229",
        "name": "Format Results",
        "func": "var votingData = []\n\nconst data = msg.payload.data[0];\nconst labels = msg.payload.labels\n\nfor (let i=0;i<labels.length; i++){\n    const dataSet = {\n        \"votes\": data[i],\n        \"candidate\": labels[i]\n    }\n    votingData.push(dataSet)\n}\n\nmsg.payload = votingData\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 380,
        "wires": [
            [
                "4748b4cbbcd3c4c2"
            ]
        ]
    },
    {
        "id": "ebead9d443dff60b",
        "type": "ui_chart",
        "z": "f205bc0b4547a229",
        "name": "Results Chart",
        "group": "cea41dcf941cfdb1",
        "order": 4,
        "width": "12",
        "height": "8",
        "label": "Voting Results",
        "chartType": "pie",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "No votes until Now",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": false,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": "0",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#3584e4",
            "#ff7f0e",
            "#2ca02c",
            "#f5c211",
            "#c061cb",
            "#865e3c",
            "#a51d2d",
            "#57e389",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1350,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "36474d299b95e6db",
        "type": "function",
        "z": "f205bc0b4547a229",
        "name": "Reset Chart",
        "func": "return { payload: [], topic: 'reset' };",
        "outputs": 1,
        "x": 950,
        "y": 140,
        "wires": [
            [
                "ebead9d443dff60b"
            ]
        ]
    },
    {
        "id": "4748b4cbbcd3c4c2",
        "type": "split",
        "z": "f205bc0b4547a229",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 960,
        "y": 380,
        "wires": [
            [
                "356d616ae4cbf674"
            ]
        ]
    },
    {
        "id": "356d616ae4cbf674",
        "type": "change",
        "z": "f205bc0b4547a229",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload.candidate",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.votes",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1130,
        "y": 380,
        "wires": [
            [
                "ebead9d443dff60b"
            ]
        ]
    },
    {
        "id": "51b88ffc75fb22db",
        "type": "ui_button",
        "z": "f205bc0b4547a229",
        "name": "",
        "group": "cea41dcf941cfdb1",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Clear Data",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "clear",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 520,
        "y": 100,
        "wires": [
            [
                "3c2a431c2d3529c2",
                "36474d299b95e6db"
            ]
        ]
    },
    {
        "id": "03f065fef141117e",
        "type": "ui_text_input",
        "z": "f205bc0b4547a229",
        "name": "Voter Name",
        "label": "Your name",
        "tooltip": "",
        "group": "cea41dcf941cfdb1",
        "order": 6,
        "width": "6",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 70,
        "y": 260,
        "wires": [
            [
                "64b4cec98dd04a0c"
            ]
        ]
    },
    {
        "id": "64b4cec98dd04a0c",
        "type": "function",
        "z": "f205bc0b4547a229",
        "name": "Pass Voter Name",
        "func": "flow.set(\"voter\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 260,
        "wires": [
            [
                "096067469d8033b6",
                "f710236437bddfc9",
                "c510a9b4e3c56566"
            ]
        ]
    },
    {
        "id": "cea41dcf941cfdb1",
        "type": "ui_group",
        "name": "Voting System",
        "tab": "226679424afeec2a",
        "order": 1,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "94969e73dab35de3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "226679424afeec2a",
        "type": "ui_tab",
        "name": "Voting System",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]